<div class="card-content">
    <div class="card-img">
      <img src="{{comic.urlImage}}" alt="Card image cap">
    </div>
    <div class="card-desc">
      <h3>{{comic.name}}</h3>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Tipo: {{comic.type}}</li>
      <li class="list-group-item">Autor Nombre: {{comic.authorName}}</li>
      <li class="list-group-item">Descripcion: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultricies ......</li>
    </ul>
    <a href="#" class="btn-card">Read</a>
</div>