<div class="container content">
    <div class="row">
        <div class="col-md-6	offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <!-- form	card	login	with	validation	feedback	-->
            <div class="card	card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Comic List</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." #name>
                        </div>
                        <div class="form-group">
                            <label for="type">Tipo</label>
                            <select class="form-control" id="type" #type>
                                <option>Selecciona tipo</option>
                                <option>Comic</option>
                                <option>Manga</option>
                              </select>
                        </div>
                        <div class="form-group">
                            <label for="autor">Autor</label>
                            <input type="text" class="form-control" id="author" placeholder="Ingresar	autor..." #author>
                        </div>
                        <div class="form-group">
                            <label for="image">Url de imagen</label>
                            <input type="text" class="form-control" id="image" placeholder="Ingresar	imagen..." #image>
                        </div>
                        <button type="submit" class="btn	btn-primary" (click)="guardar(name.value,type.value,author.value,image.value)">Guardar!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">
    <div class="row row-flex">
        <app-comic *ngFor="let comic of comicList" [comic]="comic"></app-comic>
    </div>
</div>